/******************
Stylesheet for NodeJS Photo sharing app
For CMD @ HvA
Author: Sem Bakkum and Stef van Dijk

Mobile-First Approach
Contents:
	- Common
	- Header/Nav
	- Page
		- Product listing
		- Product Info
	- Footer
	- Min-width: 30 em (Tablet)
		- Same structure
	- Min-width: 60 em (Desktop)
		- Same structure
	- Min-width: 85 em (Epic Desktop)
		- Same structure

******************/


/* ****** */
/* Common */
/* ****** */

	* {
		box-sizing: border-box;
	}

	body {
		margin: 0;
		font-family: "Calibri", Arial, sans-serif;
		font-size: 1.2em;
		line-height: 1.4em;
		min-height: 100vh;
		position: relative;
		padding-bottom: 7em;
	}

	main {
		padding: 0 0.5em;
	}

	h1, h2, h3, h4, h5, h6 {
		text-transform: capitalize;
	}

	p {
		max-width: 30em;
	}

	a {
		text-decoration: none;
		color: rgba(0,0,0,0.8);
	}

	a:link {
		color: rgba(0,0,0,0.8);
	}

	a:visited {
		text-decoration: italic;
		color: rgba(0,0,0,0.8);
	}

	a:hover {
		text-decoration: none;
		color: rgba(0,0,0,0.6);
	}

	a:active {
		text-decoration: none;
		color: rgba(0,0,0,1);
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	img {
		max-width: 100%;
		height: auto;
	}

/* ************ */
/* Header / Nav */
/* ************ */

	header, footer {
		background-color: #000;
	}

	header > nav, footer {
		padding: 2em 1.2em;
	}
	
	header > nav > ul {
		display: flex;
		max-width: 50em;
	}

	header > nav > ul > li {
		margin-right: 2em;
	}
	
	header > nav > ul a, header > nav > ul a:link, header > nav > ul a:visited, footer {
		color: #FFF;
	}

	footer {
		text-align: right;
		font-size: 0.8em;
		position: absolute;
		bottom: 0;
		width: 100%;
		display: block;
	}
/* **** */
/* Page */
/* **** */

	article {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		justify-content: space-around;
	}

	article#image {
		justify-content: space-between;
	}

	#gallery > section {
		margin: 1rem;
	}

	article > section > a > img {
		max-width: 10em;
	}

	article#image > section > a > img {
		max-width: 100%;
	}

	#gallery > section {
		width: 10em;
		box-shadow: 0 0.2em 0.4em -0.2em rgba(0,0,0,0.5);
		transition: 0.3s;
		position: relative;
		top: 0;
	}

	#gallery > section:hover {
		box-shadow: 0 0.4em 0.4em -0.2em rgba(0,0,0,0.5);
		top: -0.2em;
	}

	#gallery > section::after {
		content: ">";
		float: right;
		margin-top: -1em;
		margin-right: 0.5em;
		opacity: 0;
		font-size: 2em;
		transition: 0.3s;
	}

	#gallery > section:hover::after {
		opacity: 0.5;
	}

	#gallery > section > a {
		padding-bottom: 4.5em;
	}

	#gallery > section img {
		width: 100%;
	}

	#gallery > section > p {
		margin: 0.5em;
	}
	

/* ****** */
/* Tablet */
/* ****** */

	@media all and (min-width: 30em) {
		/* ****** */
		/* Common */
		/* ****** */

		
		/* ************ */
		/* Header / Nav */
		/* ************ */


		/* **** */
		/* Page */
		/* **** */




	}

/* ******* */
/* Desktop */
/* ******* */
	
	@media all and (min-width: 60em) {
		/* ****** */
		/* Common */
		/* ****** */

		
		/* ************ */
		/* Header / Nav */
		/* ************ */
			

		/* **** */
		/* Page */
		/* **** */


	
			
	}

/* ************ */
/* Epic Desktop */
/* ************ */
	
	@media all and (min-width: 85em) {
		/* ****** */
		/* Common */
		/* ****** */

		
		/* ************ */
		/* Header / Nav */
		/* ************ */
			

		/* **** */
		/* Page */
		/* **** */


	
			
	}	