<%= include ../layout/header %>

<form action="<%= req.baseUrl + "/" %>" method="post">
  <input type="email" name="useremail" value="">
  <input type="password" name="password" value="">
  <button>Login!</button>
</form>

<%= include ../layout/footer %>