<!DOCTYPE html>
<html>
	<head>
		<title>Photo Share - Server-side scripting</title>
		<link rel='stylesheet' href='/css/style.css' />
	</head>
	<body>
		<header>
			<h1>Photo Share</h1>
			<nav>
				<ul>
					<li><a href="/gallery">Gallery</a></li>
					<% if (req.session.userId) { %>
						<li><a href="/users">Profile</a></li>
					<% } else{ %>
						<li><a href="/users">Login</a></li>
						<li><a href="/users/signup">Sign up</a></li>
					<% } %>
					<% if (req.session.userId) { %>
						<li><a href="/upload">Upload</a></li>
						<li><a href="/users/logout">Logout</a></li>
					<% } %>
				</ul>
			</nav>	
		</header>
		<main>
			<% if (locals.title) { %>
	    		<h1><%= title %></h1>
			<% } %>
			<% if (locals.message) { %>
	    		<h2><%= message %></h2>
			<% } %>