<% if (locals.images) { %>
	<% images.forEach(function(image) { %>
		<section>
			<img src="/<%= image.filename %>" alt="">
			<p><%= image.caption %></p>
			<p><%= image.username %></p>
		</section>
	<% }) %>
<% } %>